## EDA notebook

In [2]:
import pandas as pd
import numpy as np
import data_preparation as dp

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

intakes = pd.read_csv('https://github.com/learn-co-curriculum/dsc-project-template/raw/example-aab/data/Austin_Animal_Center_Intakes_082620.csv')
outcomes = pd.read_csv('https://github.com/learn-co-curriculum/dsc-project-template/raw/example-aab/data/Austin_Animal_Center_Outcomes_082620.csv')

In [3]:
intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119853 entries, 0 to 119852
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         119853 non-null  object
 1   Name              82042 non-null   object
 2   DateTime          119853 non-null  object
 3   MonthYear         119853 non-null  object
 4   Found Location    119853 non-null  object
 5   Intake Type       119853 non-null  object
 6   Intake Condition  119853 non-null  object
 7   Animal Type       119853 non-null  object
 8   Sex upon Intake   119852 non-null  object
 9   Age upon Intake   119853 non-null  object
 10  Breed             119853 non-null  object
 11  Color             119853 non-null  object
dtypes: object(12)
memory usage: 11.0+ MB

In [4]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119962 entries, 0 to 119961
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         119962 non-null  object
 1   Name              82265 non-null   object
 2   DateTime          119962 non-null  object
 3   MonthYear         119962 non-null  object
 4   Date of Birth     119962 non-null  object
 5   Outcome Type      119956 non-null  object
 6   Outcome Subtype   54873 non-null   object
 7   Animal Type       119962 non-null  object
 8   Sex upon Outcome  119961 non-null  object
 9   Age upon Outcome  119959 non-null  object
 10  Breed             119962 non-null  object
 11  Color             119962 non-null  object
dtypes: object(12)
memory usage: 11.0+ MB

## Intake Data

In [5]:
intakes['Intake Date'] =  pd.to_datetime(intakes['DateTime'])
intakes['Intake Date'].describe()

count                  119853
unique                  84556
top       2016-09-23 12:00:00
freq                       64
first     2013-10-01 07:51:00
last      2020-08-26 07:01:00
Name: Intake Date, dtype: object

In [6]:
intakes['Intake Type'].value_counts()

Stray                 83873
Owner Surrender       23493
Public Assist          7349
Wildlife               4702
Euthanasia Request      257
Abandoned               179
Name: Intake Type, dtype: int64

In [7]:
intakes['Intake Condition'].value_counts()

Normal      104686
Injured       6196
Sick          4775
Nursing       3330
Aged           414
Other          221
Feral          106
Pregnant        74
Medical         43
Behavior         8
Name: Intake Condition, dtype: int64

In [8]:
intakes['Animal Type'].value_counts()

Dog          67990
Cat          44947
Other         6337
Bird           558
Livestock       21
Name: Animal Type, dtype: int64

In [9]:
intakes = dp.prep_intakes(intakes)

## Outcome Data

In [10]:
outcomes['Outcome Date'] =  pd.to_datetime(outcomes['DateTime'])
outcomes['Outcome Date'].describe()

count                  119962
unique                  98921
top       2016-04-18 00:00:00
freq                       39
first     2013-10-01 09:31:00
last      2020-08-26 09:19:00
Name: Outcome Date, dtype: object

In [11]:
outcomes['Outcome Type'].value_counts()

Adoption           52875
Transfer           35640
Return to Owner    20947
Euthanasia          8112
Died                1122
Rto-Adopt            636
Disposal             536
Missing               67
Relocate              21
Name: Outcome Type, dtype: int64

In [12]:
outcomes['Outcome Subtype'].value_counts()[:10]

Partner        29824
Foster          9864
Rabies Risk     3531
SCRP            3211
Suffering       3155
Snr             2601
In Kennel        572
Aggressive       536
Offsite          383
Medical          301
Name: Outcome Subtype, dtype: int64

In [13]:
outcomes = dp.prep_outcomes(outcomes)

In [14]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119962 entries, 0 to 119961
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   animal_id        119962 non-null  object
 1   outcome_type     119956 non-null  object
 2   outcome_subtype  54873 non-null   object
 3   outcome_date     119962 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 3.7+ MB

## Merge

In [15]:
animal_shelter_df = dp.merge(intakes,outcomes)

## Feature Engineering

I create a `days_in_shelter` feature to analyze the amount of time animals spend at AAC and `year_month` features for aggregating values by month in my analysis.

In [16]:
animal_shelter_df = dp.feature_engineering(animal_shelter_df)

In [17]:
animal_shelter_df['days_in_shelter'].describe()

count    118350.000000
mean         17.500625
std          41.767333
min           0.000000
25%           1.000000
50%           5.000000
75%          14.000000
max        1521.000000
Name: days_in_shelter, dtype: float64